.lead__title {
  max-width: calc(100vw*(720/1280));
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  margin: 56px auto 0;
}

@media (max-width: 1279px) {
  .lead__title {
    max-width: calc(100vw*(720/1024));
    margin: 48px auto 0;
  }
}

@media (max-width: 1023px) {
  .lead__title {
    max-width: calc(100vw*(720/768));
    margin: 48px auto 0;
  }
}

@media (max-width: 767px) {
  .lead__title {
    max-width: 90vw;
    font-size: 40px;
    line-height: 1.1;
    margin: 48px auto 0;
  }
}
