.cards__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  align-self: flex-start;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
}

.cards__link:hover {
  opacity: 0.8;
}
