.cover__title {
  color: #FFFDFD;
  max-width: calc(100vw*(560/1280));
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  margin: 0 0 32px;
}

@media (max-width: 1279px) {
  .cover__title {
    max-width: calc(100vw*(560/1024));
  }
}

@media (max-width: 1023px) {
  .cover__title {
    max-width: calc(100vw*(560/768));
  }
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}
